<div>
    <h1>My Courses</h1>
</div>

<div>
    <button style="padding: 10px; border:none; background-color: green; border-radius: 10px; color: white;"
        (click)="onCreateClick()">create new</button>
</div>

<div style="overflow: hidden;">
    <app-new-course *ngIf="createClicked" (courseCreated)="courseCreated($event)" (courseCancel)="courseCanceled()"
        @newCourseState></app-new-course>
</div>

<div style="margin: 30px;">
    <div class="loading-bar" *ngIf="!coursesLoaded">
        <div class="loading-bar-content"></div>
    </div>
    <app-course *ngFor="let course of diaplayedCourses; let i = index" [course]="course"
        (statusUpdated)="onStatusUpdate($event,i)" 
        (courseDelete)="onDeleteCourse(i)" 
        (click)="onCourseSelected(i)"
        [@courseTrigger]="createClicked? 'slideDown':'slideUp'" 
        (@courseTrigger.done)="onCourseAddDone($event,i)"
        [@selectedTrigger]="selectedCourse ==i ? 'selected':'default'" style="margin: 10px;"
        ></app-course>
</div>