<!-- <div>{{course.title}}</div> -->

<!-- <h1>Welcome</h1>
<app-author></app-author> -->

<div>
    <h1>{{course.title}} <span style="margin-left: 5px; color: red;">{{course.status}}</span></h1>
    <p>{{course.description}}</p>

    <div>
        <select name="" id="" #statusRef>
            <option value="active">Active</option>
            <option value="inactive">InActive</option>
            <option value="draft">Draft</option>
        </select>

        <button (click)="onstatusChange()">update</button>
        <button (click)="onDelete()">delete</button>
    </div>
</div>