<!-- <div id="div1" (click)="onColorChange()" [ngStyle]="{backgroundColor:divSelected ? 'red':'blue'}"
    [ngClass]="{active1:divSelected}"></div>

<hr>

<div id="div2" (click)="moveSelected = true" [ngClass]="{move:moveSelected}"></div> -->

<!-- <app-course *ngFor="let course of courses" [course]="course" (click)="course.isActive = !course.isActive"
    [ngClass]="{active:course.isActive}"></app-course> -->

<!-- <div class="content-1">
        <div>
            <app-course></app-course>
        </div>
    </div>

    <div class="content-2">
        <app-course></app-course>
    </div> -->

<div>
    <button style="padding: 10px; margin: 10px; border: 0px; border-radius: 10px;" routerLink="/"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Courses</button>
    <button style="padding: 10px; margin: 10px; border: 0px; border-radius: 10px;" routerLink="/users"
        routerLinkActive="active">Users</button>
    <button style="padding: 10px; margin: 10px; border: 0px; border-radius: 10px;" routerLink="/void"
        routerLinkActive="active">Void</button>
    <button style="padding: 10px; margin: 10px; border: 0px; border-radius: 10px;" routerLink="/card"
        routerLinkActive="active">Card</button>
</div>

<div [@routeState]="getAnimationData(rOutlet)">
    <router-outlet #rOutlet="outlet"></router-outlet>
</div>

<!-- <div>
    <div class="box" #boxElem></div>
    <button (click)="animate(boxElem)">animate</button>
</div> -->